body {
  background-color: #fdefc0;
  font-family: "Gill Sans", sans-serif;
}
header {
  text-align: center;
  color: #ff397b;
}

/* Style for navigation bar */
#top-nav {
  background-color:#ffdf7c;
  font-size: 2em;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
#top-nav a:link {
  color: #243127;
  text-decoration: none;
  width: 50%;
}
#top-nav a:visited {
  color: #243127;
  text-decoration: none;
  width: 50%;
}
#top-nav a:hover {
  color: #fffaec;
  text-decoration: none;
  width: 50%;
}

/* Style for main */
/* JavaScript Section Style */
main .javascript {
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #f7cc86;
}
main .javascript h2 {
  color: #ff397b;
  font-size: 4em;
}
main .javascript p {
  color: #243127;
  font-size: 1.5em;
}

/* Footer Style */
footer {
  background-color: #feb640;
  text-align: center;
  color: #243127;
}
footer a:link {
  color: #243127;
}
footer a:visited {
  color: #243127;
}